@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
header {
  font-size: 1.2rem;
}

.tasks-container {
  height: 500px;
}

.task h3{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Task it self */
.task {
  margin: 1vh 0;
}

/* AddTask component */
#field {
  height: 3vh;
  width: 100%;
  border: none;
  border-bottom: 1px solid #019267;
  outline: none;
}


#add {
  margin-top: 1vh;
  padding: 5px 20px;
  background-color: #019267;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
}

#add:hover {
  opacity: 0.9;
}
